<!DOCTYPE html>
<html >
<head>

  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  
</head>
<body>
  <section class="menu SpaceX-Header" once="menu" id="menu1-i">

    

    <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        </button>
        <div class="menu-logo">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    
                         <img src="assets/images/spacexlogo-2000x247.png" alt="Mobirise" title="" style="height: 4.4rem;">
                    
                </span>
                <span class="navbar-caption-wrap"><a class="navbar-caption text-white display-2" href="https://mobirise.com">
                        LAUNCH MANIFEST</a></span>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-buttons mbr-section-btn"><a class="btn btn-sm btn-primary display-7" href="https://mobirise.com"><span class="mbri-user mbr-iconfont mbr-iconfont-btn"></span>
                    Login&nbsp;</a></div>
        </div>
    </nav>
</section>

<section class="mbr-fullscreen" data-bg-video="https://www.youtube.com/watch?v=Tk338VXcb24" id="header2-f">

    <div class="container align-center">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">SpaceX Launch Manifest</h1>
                
                <p class="mbr-text pb-3 mbr-fonts-style display-5">
                    View current SpaceX Launch Manifest</p>
                <div class="mbr-section-btn"><a class="btn btn-md btn-black display-4" href="https://mobirise.com">LEARN MORE</a></div>
            </div>
        </div>
    </div>
    
</section>

  <script src="assets/web/assets/jquery/jquery.min.js"></script>
  <script src="assets/ytplayer/jquery.mb.ytplayer.min.js"></script>
  <script src="assets/theme/js/script.js"></script>
  
</body>
</html>