section {
  background-color: #eeeeee;
  position: relative;
  word-wrap: break-word; }

a {
  font-style: normal;
  font-weight: 400;
  cursor: pointer; }
  a, a:hover {
    text-decoration: none; }

body {
  color: #232323; }

.display-2 {
  line-height: 1;
  word-break: break-word;
  word-wrap: break-word; }

body {
  position: relative; }

section {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover; }

/*! Base colors */

/*! Text-aligns */

@media (max-width: 767px) {
  .mbr-section-btn {
    text-align: center; } }

/*! Buttons */
.mbr-section-btn {
  margin-left: -.25rem;
  margin-right: -.25rem;
  font-size: 0; }

nav .mbr-section-btn {
  margin-left: 0rem;
  margin-right: 0rem; }

/*! Btn icon margin */
.btn .mbr-iconfont, .btn.btn-sm .mbr-iconfont {
  cursor: pointer;
  margin-right: 0.5rem; }

.menu .navbar-brand {
  display: -webkit-flex; }
  .menu .navbar-brand span {
    display: flex;
    display: -webkit-flex; }
  .menu .navbar-brand .navbar-caption-wrap {
    display: -webkit-flex; }
  .menu .navbar-brand .navbar-logo img {
    display: -webkit-flex; }
@media (min-width: 992px) {
  .menu .navbar-toggleable-sm .navbar-collapse {
    display: -webkit-flex !important; } }