@import url(https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i);





body {
  font-style: normal;
  line-height: 1.5;
}
.display-2 {
  font-family: 'Rubik', sans-serif;
  font-size: 3rem;
}
.display-7 {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.6rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  font-weight: 500;
  border-width: 2px;
  font-style: normal;
  letter-spacing: 1px;
  margin: .4rem .8rem;
  white-space: normal;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1rem 3rem;
  border-radius: 3px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  word-break: break-word;
}
.btn-sm {
  font-weight: 500;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-primary,
.btn-primary:active {
  background-color: #149dcc !important;
  border-color: #149dcc !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus {
  color: #ffffff !important;
  background-color: #0d6786 !important;
  border-color: #0d6786 !important;
}
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #0d6786 !important;
  border-color: #0d6786 !important;
}
.text-white {
  color: #ffffff !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}
a,
a:hover {
  color: #149dcc;
}
/* Scroll to top button*/
/* Others*/
/* Forms */
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Social block */
/* Footer */
/* Headers*/
.navbar-toggler {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background: transparent;
  border: 1px solid transparent;
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
}
.navbar-toggler:focus,
.navbar-toggler:hover {
  text-decoration: none;
}
.navbar-toggler-right {
  position: absolute;
  right: 1rem;
}
@media (min-width: 768px) {
  .navbar-toggleable-sm {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-sm .navbar-collapse {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
  }
  .navbar-toggleable-sm .navbar-toggler {
    display: none;
  }
}
html,
body {
  height: auto;
  min-height: 100vh;
}
.cid-qL9WBQTClZ .navbar {
  padding: .5rem 0;
  background: #333333;
  transition: none;
  min-height: 77px;
}
.cid-qL9WBQTClZ a {
  font-style: normal;
}
.cid-qL9WBQTClZ .btn {
  padding: 0.4rem 1.5rem;
  display: inline-flex;
  align-items: center;
}
.cid-qL9WBQTClZ .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-qL9WBQTClZ .menu-logo {
  margin-right: auto;
}
.cid-qL9WBQTClZ .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  align-items: center;
}
.cid-qL9WBQTClZ .menu-logo .navbar-brand .navbar-caption-wrap {
  display: -webkit-flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-qL9WBQTClZ .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-qL9WBQTClZ .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-qL9WBQTClZ .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-qL9WBQTClZ .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-qL9WBQTClZ .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-qL9WBQTClZ button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-qL9WBQTClZ button.navbar-toggler:focus {
  outline: none;
}
@media (max-width: 991px) {
  .cid-qL9WBQTClZ .navbar-expand {
    flex-direction: column;
  }
  .cid-qL9WBQTClZ img {
    height: 3.8rem !important;
  }
  .cid-qL9WBQTClZ .btn {
    display: flex;
  }
  .cid-qL9WBQTClZ button.navbar-toggler {
    display: block;
  }
  .cid-qL9WBQTClZ .navbar-brand {
    margin-left: 1rem !important;
  }
  .cid-qL9WBQTClZ .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-qL9WBQTClZ .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
}
@media (min-width: 767px) {
  .cid-qL9WBQTClZ .menu-logo {
    flex-shrink: 0;
  }
}
.cid-qL9WBQTClZ .navbar-collapse {
  flex-basis: auto;
}
.cid-qL9WBQTClZ .navbar {
  padding: .5rem 0;
  background: #323533;
  transition: none;
  min-height: 77px;
}
.cid-qL9WBQTClZ a {
  font-style: normal;
}
.cid-qL9WBQTClZ .btn {
  padding: 0.4rem 1.5rem;
  display: inline-flex;
  align-items: center;
}
.cid-qL9WBQTClZ .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-qL9WBQTClZ .menu-logo {
  margin-right: auto;
}
.cid-qL9WBQTClZ .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  align-items: center;
}
.cid-qL9WBQTClZ .menu-logo .navbar-brand .navbar-caption-wrap {
  display: -webkit-flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-qL9WBQTClZ .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-qL9WBQTClZ .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-qL9WBQTClZ .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-qL9WBQTClZ .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-qL9WBQTClZ .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-qL9WBQTClZ button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-qL9WBQTClZ button.navbar-toggler:focus {
  outline: none;
}
@media (max-width: 991px) {
  .cid-qL9WBQTClZ .navbar-expand {
    flex-direction: column;
  }
  .cid-qL9WBQTClZ img {
    height: 3.8rem !important;
  }
  .cid-qL9WBQTClZ .btn {
    display: flex;
  }
  .cid-qL9WBQTClZ button.navbar-toggler {
    display: block;
  }
  .cid-qL9WBQTClZ .navbar-brand {
    margin-left: 1rem !important;
  }
  .cid-qL9WBQTClZ .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-qL9WBQTClZ .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
}
@media (min-width: 767px) {
  .cid-qL9WBQTClZ .menu-logo {
    flex-shrink: 0;
  }
}
.cid-qL9WBQTClZ .navbar-collapse {
  flex-basis: auto;
}
