{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class="row banner">
	<div class="col-md-1"></div>
		<div class="col-md-9">
		<h1>Mission: {{ mission.name }}
		<figure class="creator">
			<img src="{{ creator.picture}}">
			<figcaption>{{ creator.name }}</figcaption>
		</figure>
		</h1>
		</div>
</div>

<div class="row">
	<div class="col-md-1"></div>
		<h2>  Are you sure you want to delete {{launch.customer}}? </h2>
</div>

<div class="row">
	<div class="col-md-1"></div>
		<form action="#" method = 'post'>
		<a href="javascript:;" onclick="parentNode.submit();" button type ="submit" class="submit-link btn btn-outline-primary">Delete</a>
		<a href = '{{url_for('showLaunch', manifest_id = manifest_id)}}' class="btn btn-outline-primary">Cancel</a>
		</form>
</div>

{% endblock %}
