{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class="row banner">
	<div class="col-md-1"></div>
		<div class="col-md-9">
		<h1>Edit Mission: {{ manifest.name }}
		<figure class="creator">
			<img src="{{ creator.picture}}">
			<figcaption>{{ creator.name }}</figcaption>
		</figure>
		</h1>
		</div>
</div>

	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-6 col-md-offset-1 padding-top">
			<form action="{{ url_for('editMission', manifest_id = manifest.id)}}" method = "post">
				<div class="form-group">
					<h2>Mission Name:</h2>
					<input type ="text" class="form-control" name="name" value="{{manifest.name }}">
				</div>
				<a href="javascript:;" onclick="parentNode.submit();" button type ="submit" class="btn btn-outline-primary">Save</a>
				<a href = '{{url_for('showManifest')}}' class="btn btn-outline-primary">Cancel</a>
			</form>
		</div>
	</div>
{% endblock %}