{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="row banner">
   <div class="col-md-1"></div>
   <h1>New Mission</h1>
</div>
<div class="row">
   <div class="col-md-1"></div>
   <div class="col-md-6 col-md-offset-1 padding-top">
      <form action="#" method = "post">
         <div class="form-group">
            <label for="name">Mission Name:</label>
            <input type ="text" class="form-control" maxlength="100" name="name">
            <div class="padding-bottom"></div>
         </div>
         <a href="javascript:;" onclick="parentNode.submit();" button type ="submit" class="submit-link btn btn-outline-primary">Save</a>
         <a href = '{{url_for('showManifest')}}' class="btn btn-outline-primary">Cancel</a>
      </form>
   </div>
</div>
{% endblock %}